/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);*/
body {
/*  background: #e5e5e5;*/
  color: #999;
  padding-top: 70px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #777;
  font-weight: 300;
}
a {
  color: #52b6ec;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.btn {
  font-weight: 300;
  border: 0;
}
.btn.btn-primary {
  background-color: #52b6ec;
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
  background-color: #1586c3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus {
  color: #80c9f1;
  text-decoration: none;
  outline: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99999;
}

.navbar-default {
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  overflow: hidden;
}
.navbar-default .first a {
  border-radius: 0 0 0 5px;
}

.navbar-default .navbar-brand {	
	margin-right: 20px;
	margin-left: 100px;
	width: 100px;
	/*height: 78px;*/
	background: url(/images/logos/jubo.png) no-repeat 0 50%;
}

.navbar-default .navbar-logout {
	width: 160px;
}

.navbar-default .navbar-nav > li {
  margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
  /*padding: 30px 10px;*/
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  color: #999;
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
/*  background-color: #52b6ec;*/
  color: #0066cc;
}

.form-signin {
	max-width: 380px;
	padding: 10px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
{
    margin-bottom: 10px;
}

.form-signin .form-control {
	position: relative;
    font-size: 14px;
	height: auto;
    padding: 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.panel-login {
	max-width: 400px;
	margin: 0 auto;
}
.panel-login .panel-heading {
	font-size: 16px;
	font-weight: bold;
	background: #AAAAAA; 
}

.change-password .form-control {
	max-width: 500px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.site-footer {
  padding-top: 80px;
}

.site-footer ul li {
	float: left;
	display: inline;
	list-style:none;
	margin-left: 10px;
}

.site-footer-xs{
  padding-top: 80px;
}

#command-line #dollar-ui {
    position: absolute;
    margin: 14px;
}

#command-line #cmd {
    outline: none;
    padding: 0.5em;
    font: inherit;
    color: inherit;
    width: 100%;
    background-color: #333;
    border: 0px;
    border-radius: 10px;
    padding-left: 45px; 
}

pre{
  font-family: monospace;
  font-size: 1.25em;
}

