<template name="siteFooter">
    <div class="contain ">
        <div class="row visible-xs site-footer-xs">
            <div class="panel">
            </div>
            <div class="col-md-offset-1 col-md-2 ">
                <li>&copy; 2014 <span>JuboLin</span>, Inc.</li>
            </div>
            <div class="col-md-1 ">
                <li><a href="http://doc.jubolin.com">文档</a></li>
            </div>
            <div class="col-md-1 ">
                <li><a href="http://trainning.jubolin.com">培训</a></li>
            </div>
            <div class="col-md-1 ">
                <li><a href="http://terms.jubolin.com">团队成员</a></li>
            </div>
            <div class="col-md-1 ">
                <li><a href="http://contact.jubolin.com">联系我们</a></li>
            </div>
            <div class="col-md-6">
            </div>
        </div>
            
        <div class="row clearfix hidden-xs site-footer">
            <div class="panel"></div>
            <ul class="site-foolter-links">
                <li>&copy; 2014 <span>JuboLin</span>, Inc.</li>
                <li><a href="http://doc.jubolin.com">文档</a></li>
                <li><a href="http://trainning.jubolin.com">培训</a></li>
                <li><a href="http://terms.jubolin.com">团队成员</a></li>
                <li><a href="http://contact.jubolin.com">联系我们</a></li>
            </ul>
        </div>
    </div>
</template>
    
    

